G-2.0-plain_java-1.0 -*- coding: utf-8; -*-
▼ import com.sphenon.engines.generator.test.*; ▼…
⊏ signature (TestClassA tca) ⊐…
⊏ polymorphic ⊐…
A
⊏ insert this.Hans() ⊐…
⊰ ------------------------------- ⊱…
⊏ template Hans() ⊐…
A: ◂tca.a▸
⊏ end template ⊐…
⊰ ------------------------------- ⊱…
