G-2.0-plain_java-1.0 -*- coding: utf-8; -*-
▼ import com.sphenon.engines.generator.test.*; ▼…
⊏ signature (TestClassB tcb) ⊐…
⊏ base Test0200_base_polymorphic ⊐…
B
⊰ ------------------------------- ⊱…
⊏ template Hans() ⊐…
B: ◂tcb.b▸
⊏ end template ⊐…
⊰ ------------------------------- ⊱…
