G-2.0-java_jpp-1.0 -*- coding: utf-8; -*-

Die TreeNode id lautet: ◂‖"Filing/software/components/basics/context/view=SoftwareUnit/,…
                          ⋮//Property/UnitNode/Id"▸

Und die package id: ◂‖"Filing/software/components/basics/context/view=SoftwareUnit/,…
                      ⋮//Property/UnitNode/,…
                      ⋮//XPath/xmlns:x=http:%2F%2Fxmlns.sphenon.com%2Fcom%2Fsphenon%2Fsoftware%2Fproduction%2Fsoftwareunit//x:JavaPackage/x:Id"▸

⊏ locatortarget XML ⊐

⊰ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  funzt leider nicht mehr, da software.procedures relocated into JAR (täte aber prinzipiell immer noch)

Es gibt folgende Procedures:

  ⋮«∀(‖"Filing/software/view=Automation/,…
       ⋮//Property/ProceduresNode/,…
       ⋮//XPath/xmlns:x=http:%2F%2Fxmlns.sphenon.com%2Fcom%2Fsphenon%2Fsoftware%2Fproduction%2Fprocedures//x:Procedures/*"){»…
     Seht doch: ◂‖"XPath/@SourceType"▸ ◂‖"XPath/@TargetType"▸
  ⋮«}/∀»…
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ⊱…

  ⋮«∃(‖"Filing/software/components/basics/context/view=SoftwareUnit/,…
       ⋮//Property/UnitNode/,…
       ⋮//XPath/xmlns:x=http:%2F%2Fxmlns.sphenon.com%2Fcom%2Fsphenon%2Fsoftware%2Fproduction%2Fsoftwareunit//x:JavaPackage"){»…
     Ja, es gibt ein JavaPackage!
     Und es hat immer noch die id ◂‖"XPath/xmlns:x=http:%2F%2Fxmlns.sphenon.com%2Fcom%2Fsphenon%2Fsoftware%2Fproduction%2Fsoftwareunit/x:Id"▸
  ⋮«}/∃»…

