G-2.0-plain_java-1.0 -*- coding: utf-8; -*-

Hallo !

⊏ insert this.Willy(4711) ⊐…
⊏ insert this.Willy(4712) ⊐…
⊰ ------------------------------- ⊱…
⊏ template Willy(int zahl) ⊐…
Hallo, Willy sagt ◂zahl▸
⊏ end template ⊐…
⊰ ------------------------------- ⊱…
⊏ insert this.Willy(815) ⊐…
