G-2.0-plain_java-1.0 -*- coding: utf-8; -*-
⊏ insert this.Node(1, "") ⊐
⊏ template Node(int depth, String indent) ⊐…
« if (depth <= 3) {
    for(int i=1; i<=3; i++) { »…
◂indent▸◂i▸
⊏ insert this.Node(depth+1, indent+i+".") ⊐…
«   }
  } »…
⊏ end template ⊐…
