G-2.0-plain_java-1.0 -*- coding: utf-8; -*-
⊏ signature (TestClassA tca) ⊐…
◂tca.a▸
⊏ insert this.Hans() ⊐…
⊰ ------------------------------- ⊱…
⊏ template Hans() ⊐…
Hoihoi!
⊏ end template ⊐…
⊰ ------------------------------- ⊱…
