G-2.0-plain_java-1.0 -*- coding: utf-8; -*-
▼ import com.sphenon.engines.generator.test.*; ▼…
⊏ signature (TestClassB tcb) ⊐⊏ base Test0300_3StepHierarchy_A ⊐…
B Main
⊰ ------------------------------- ⊱…
⊏ template Hans() ⊐…
⊏ insert super.Hans() ⊐…
B Template
⊏ end template ⊐…
⊰ ------------------------------- ⊱…
